body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
      180deg,
      hsl(273, 75%, 66%) 0%,
      hsl(240, 73%, 65%) 100%
    )
    no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 0 auto;
  border: 0;
  border-radius: 30px;
  background: whitesmoke;
  width: 65%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: -150% 75%;
}
.box {
  overflow: visible;
  z-index: 2;
}

.faq {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
h1 {
  padding-left: 1rem;
}
.questions-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.question-dropdown {
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.question-dropdown:last-child {
  border: none;
}
.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.active h4 {
 font-weight: 600;
}
.question img {
  align-self: center;
}
h4 {
  display: inline;
  font-weight: 400;
  margin: 0;
}
.answer {
  display: none;
}
.active > .answer {
  display: block;
}
.active img {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

.img_wrapper {
  position: relative;
  width: 50%;
}
.woman_img {
  background: url(illustration-woman-online-desktop.svg) no-repeat;
  background-position: -250% center;
  background-size: 95%;
  height: 100%;
}
.box {
  position: absolute;
  top: 42%;
  left: -15%;
}

.attribution {
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .card {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0.5rem;
    position: relative;
    height: 530px;
  }
  .img_wrapper {
    background-position: center 590%;
    height: 200%;
  }
  .woman_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    top: -55%;
    left: 50%;
  }
  .box {
    width: 55px;
    left: 45%;
    top: -15%;
  }
  .faq {
    width: 100%;
  }
  .faq-title {
    text-align: center;
  }
  .questions-section {
    width: 100%;
  }
}

@media (max-width: 1060px) {
 .card {
  width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-gap: 0.5rem;
  position: relative;
  height: 600px;
}
.img_wrapper {
  background-position: center 590%;
  height: 200%;
}
.woman_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: center;
  top: -40%;
  left: 50%;
}
.box {
  width: 55px;
  left: 45%;
  top: 0%;
}

.faq {
  width: 100%;
  padding: 0;
}
.faq-title {
  text-align: center;
}
.questions-section {
  width: 100%;
}
}

@media (max-height: 735px) {
  .card {
    height: 80%;
  }
  .faq {
    margin-top: 0;
  }
  .questions-section {
    margin: 0;
  }
}